{{ if eq .chezmoi.os "linux" -}}
{{   if eq .chezmoi.osRelease.id "arch"  -}}

#!/bin/bash
sudo pacman -S --needed --noconfirm git base-devel
git clone https://aur.archlinux.org/yay.git ~/clone/yay
cd ~/clone/yay
makepkg -si

yay -Syu --noconfirm --needed - < /dev/stdin <<EOF
{{ range .packages.arch.core -}}
{{ . }}
{{ end -}}
{{ range .packages.arch.cli -}}
{{ . }}
{{ end -}}
EOF
{{   end }}
{{ end }}

# mise activation
chmod +x ~/.local/bin/mise

# auth github
gh auto login
